.filters {
  width: 15%;
  margin-right: 15px;

  .star-button-container {
    text-align: center;
    small {
      color: #aaa;
      margin-bottom: 8px;
      display: inline-block;
    }
  }
  .title {
    margin-top: 2px;
    margin-bottom: 20px;
  }
  &-available-size {
    display: inline-block;
    margin-bottom: 10px;
    label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 35px;
      height: 35px;
      font-size: 0.8em;
      margin-bottom: 8px;
      margin-right: 8px;
      border-radius: 50%;
      line-height: 35px;
      text-align: center;

      &:hover input ~ .checkmark {
        border: 1px solid #1b1a20;
      }
      & input:checked ~ .checkmark {
        background-color: #4b4a4d;
        color: #ececec;
      }
      & input:checked ~ .checkmark:after {
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
        font-size: 0.8rem;
        border-radius: 50%;
        line-height: 35px;
        text-align: center;
        color: #1b1a20;
        background-color: #ececec;
        border: 1px solid transparent;
      }
    }
  }
}
